.text_one {
  font-size: 180%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-right: 30px; 
  margin-top: 0px;
}

.text_two,.text_four{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  width:70%;
}
.text_four{
  width: 70%;
  
}
.text_three,.column li{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-left: 50px;

}